# Exclude generated parameter files
## 2LPT-IC
2LPT-IC/*
!2LPT-IC/2lptic.param
## GADGET2
GADGET2/*
!GADGET2/GADGET2.param
## GADGET4
GADGET4/*
!GADGET4/GADGET4.param
## StePS
StePS/*
!StePS/StePS.param
## gevolution
gevolution/*
!gevolution/gevolution.param
## EinsteinToolkit
EinsteinToolkit/*
!EinsteinToolkit/einsteintoolkit.param
!EinsteinToolkit/einsteintoolkit_restart.param